@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --fluorescent: #2feeee;
    --sh-class: #e67c73;
    --sh-identifier: #2c3e50;
    --sh-sign: #7f8c8d;
    --sh-string: #27ae60;
    --sh-keyword: #d35400;
    --sh-comment: #95a5a6;
    --sh-jsxliterals: #8e44ad;
    --sh-property: #c0392b;
    --sh-entity: #e67e22;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --sh-class: #9b59b6;
    --sh-identifier: #ecf0f1;
    --sh-keyword: #e74c3c;
    --sh-string: #2ecc71;
    --sh-sign: #bdc3c7;
    --sh-comment: #7f8c8d;
    --sh-jsxliterals: #3498db;
    --sh-property: #e67e22;
    --sh-entity: #f39c12;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body::-webkit-scrollbar {
  display: none;
}

.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-200 dark:bg-neutral-800;
}

.prose pre[data-line-numbers='true'] code {
  counter-reset: sh-line-number;
}

.prose pre[data-line-numbers='true'] .sh__line::before {
  counter-increment: sh-line-number 1;
  content: counter(sh-line-number);
  display: inline-block;
  width: 2rem;
  color: #a4a4a4;
}

.prose pre code {
  @apply my-2 block w-full min-w-max;
}

.prose pre code .sh__line {
  @apply inline-block w-full px-4;
}
