@import 'tailwindcss';
@import 'tw-animate-css';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --font-sans: var(--font-sans);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.61 0.11 222);
  --primary-foreground: oklch(0.98 0.02 201);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.61 0.11 222);
  --accent-foreground: oklch(0.98 0.02 201);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.87 0.12 207);
  --chart-2: oklch(0.8 0.13 212);
  --chart-3: oklch(0.71 0.13 215);
  --chart-4: oklch(0.61 0.11 222);
  --chart-5: oklch(0.52 0.09 223);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.61 0.11 222);
  --sidebar-primary-foreground: oklch(0.98 0.02 201);
  --sidebar-accent: oklch(0.61 0.11 222);
  --sidebar-accent-foreground: oklch(0.98 0.02 201);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);

  --css-class: hsl(6 67% 68%);
  --css-identifier: hsl(210 40% 24%);
  --css-sign: hsl(204 9% 52%);
  --css-string: hsl(145 65% 42%);
  --css-keyword: hsl(28 100% 41%);
  --css-comment: hsl(184 9% 62%);
  --css-jsxliterals: hsl(282 46% 47%);
  --css-property: hsl(6 69% 50%);
  --css-entity: hsl(28 84% 52%);

  --highlighted-line: 150, 200, 250;
  --added-line: 0, 200, 0;
  --removed-line: 200, 0, 0;

  --shadow-color: hsl(240 30% 25%);
  --shadow-opacity: 0.12;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.3);
  --tracking-normal: 0em;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.71 0.13 215);
  --primary-foreground: oklch(0.3 0.05 230);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.71 0.13 215);
  --accent-foreground: oklch(0.3 0.05 230);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.87 0.12 207);
  --chart-2: oklch(0.8 0.13 212);
  --chart-3: oklch(0.71 0.13 215);
  --chart-4: oklch(0.61 0.11 222);
  --chart-5: oklch(0.52 0.09 223);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.8 0.13 212);
  --sidebar-primary-foreground: oklch(0.3 0.05 230);
  --sidebar-accent: oklch(0.71 0.13 215);
  --sidebar-accent-foreground: oklch(0.3 0.05 230);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);

  --css-class: hsl(282 46% 53%);
  --css-identifier: hsl(192 100% 94%);
  --css-keyword: hsl(6 77% 57%);
  --css-string: hsl(145 74% 49%);
  --css-sign: hsl(204 12% 76%);
  --css-comment: hsl(204 9% 52%);
  --css-jsxliterals: hsl(204 71% 53%);
  --css-property: hsl(28 84% 52%);
  --css-entity: hsl(37 91% 51%);

  --shadow-color: hsl(240 30% 25%);
  --shadow-opacity: 0.12;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.3);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

@custom-variant data-open {
  &:where([data-state='open']),
  &:where([data-open]:not([data-open='false'])) {
    @slot;
  }
}

@custom-variant data-closed {
  &:where([data-state='closed']),
  &:where([data-closed]:not([data-closed='false'])) {
    @slot;
  }
}

@custom-variant data-checked {
  &:where([data-state='checked']),
  &:where([data-checked]:not([data-checked='false'])) {
    @slot;
  }
}

@custom-variant data-unchecked {
  &:where([data-state='unchecked']),
  &:where([data-unchecked]:not([data-unchecked='false'])) {
    @slot;
  }
}

@custom-variant data-selected {
  &:where([data-selected='true']) {
    @slot;
  }
}

@custom-variant data-disabled {
  &:where([data-disabled='true']),
  &:where([data-disabled]:not([data-disabled='false'])) {
    @slot;
  }
}

@custom-variant data-active {
  &:where([data-state='active']),
  &:where([data-active]:not([data-active='false'])) {
    @slot;
  }
}

@custom-variant data-horizontal {
  &:where([data-orientation='horizontal']) {
    @slot;
  }
}

@custom-variant data-vertical {
  &:where([data-orientation='vertical']) {
    @slot;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  overflow-y: scroll;
  scroll-padding-top: 5rem;
}

.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--muted-foreground) var(--secondary);
}

.styled-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: var(--radius);
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--muted-foreground);
  border-radius: var(--radius);
  border: 2px solid var(--secondary);
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-foreground);
}

/* Dark mode styles */
.dark .styled-scrollbar {
  scrollbar-color: var(--muted-foreground) var(--secondary);
}

.dark .styled-scrollbar::-webkit-scrollbar-track {
  background: var(--secondary);
}

.dark .styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--muted-foreground);
  border-color: var(--secondary);
}

.dark .styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-foreground);
}

article.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

article.anchor:hover {
  @apply visible;
}

article.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

article.prose *:hover > .anchor {
  @apply visible;
}

article.prose pre[data-line-numbers='true'] code {
  counter-reset: css-line-number;
}

article.prose pre[data-line-numbers='true'] .css__line::before {
  counter-increment: css-line-number 1;
  content: counter(css-line-number, decimal-leading-zero);
  display: inline-block;
  width: 2rem;
  color: #a4a4a4;
}

article.prose pre code {
  @apply my-2 block w-full min-w-max;
}

article.prose pre code .css__line {
  @apply inline-block w-full border-l-4 border-transparent px-4;
}

article.prose pre code .css__line[data-highlighted-line] {
  background-color: rgba(var(--highlighted-line), 0.1);
  border-color: rgba(var(--highlighted-line), 0.5);
}

article.prose pre code .css__line[data-added-line] {
  background-color: rgba(var(--added-line), 0.1);
  border-color: rgba(var(--added-line), 0.5);
}

article.prose pre code .css__line[data-removed-line] {
  background-color: rgba(var(--removed-line), 0.1);
  border-color: rgba(var(--removed-line), 0.5);
}

article.prose pre code[data-no-highlight] {
  @apply text-foreground;
}

::view-transition-old(.slide-down) {
  animation:
    150ms ease-out both fade-out,
    150ms ease-out both slide-down;
}

::view-transition-new(.slide-up) {
  animation:
    210ms ease-in 150ms both fade-in,
    400ms ease-in both slide-up;
}

@keyframes slide-up {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}
